## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_Database.csv file. 

# city_data_df = pd.read_csv("~/Desktop/6 API/Weather_Database/WeatherPy_Database.csv")
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Chokurdakh,RU,70.6333,147.9167,35.44,76,100,7.27,overcast clouds
1,1,Hithadhoo,MV,-0.6000,73.0833,81.41,73,79,13.98,broken clouds
2,2,Barrow,US,71.2906,-156.7887,39.22,93,100,19.57,mist
3,3,Puerto Quijarro,BO,-17.7833,-57.7667,101.03,15,5,5.59,clear sky
4,4,Victoria,HK,22.2855,114.1577,85.32,86,2,5.01,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the mimimum temperature you like for your trip? "))
max_temp = float(input("What is the maximum temperature you like for your trip? "))

What is the mimimum temperature you like for your trip? 60
What is the maximum temperature you like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                      (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Hithadhoo,MV,-0.6000,73.0833,81.41,73,79,13.98,broken clouds
4,4,Victoria,HK,22.2855,114.1577,85.32,86,2,5.01,clear sky
5,5,Carnarvon,AU,-24.8667,113.6333,65.57,45,2,19.35,clear sky
6,6,Kutum,SD,14.2000,24.6667,80.19,45,99,4.97,light rain
8,8,Salalah,OM,17.0151,54.0924,77.09,88,20,2.30,few clouds
...,...,...,...,...,...,...,...,...,...,...
700,700,Ajdabiya,LY,30.7554,20.2263,80.74,61,0,14.74,clear sky
705,705,Pacific Grove,US,36.6177,-121.9166,81.21,80,20,10.00,few clouds
707,707,Bushehr,IR,28.9684,50.8385,87.89,62,100,6.91,overcast clouds
708,708,Bireun,ID,5.2030,96.7009,77.38,87,97,2.95,overcast clouds
709,709,Bulungu,CD,-4.5500,18.6000,78.06,69,34,3.49,light rain

In [5]:
# 4a. Determine if there are any empty rows.

preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                6
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Hithadhoo,MV,-0.6000,73.0833,81.41,73,79,13.98,broken clouds
4,4,Victoria,HK,22.2855,114.1577,85.32,86,2,5.01,clear sky
5,5,Carnarvon,AU,-24.8667,113.6333,65.57,45,2,19.35,clear sky
6,6,Kutum,SD,14.2000,24.6667,80.19,45,99,4.97,light rain
8,8,Salalah,OM,17.0151,54.0924,77.09,88,20,2.30,few clouds
...,...,...,...,...,...,...,...,...,...,...
700,700,Ajdabiya,LY,30.7554,20.2263,80.74,61,0,14.74,clear sky
705,705,Pacific Grove,US,36.6177,-121.9166,81.21,80,20,10.00,few clouds
707,707,Bushehr,IR,28.9684,50.8385,87.89,62,100,6.91,overcast clouds
708,708,Bireun,ID,5.2030,96.7009,77.38,87,97,2.95,overcast clouds
709,709,Bulungu,CD,-4.5500,18.6000,78.06,69,34,3.49,light rain

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"

hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Hithadhoo,MV,81.41,broken clouds,-0.6000,73.0833,
4,Victoria,HK,85.32,clear sky,22.2855,114.1577,
5,Carnarvon,AU,65.57,clear sky,-24.8667,113.6333,
6,Kutum,SD,80.19,light rain,14.2000,24.6667,
8,Salalah,OM,77.09,few clouds,17.0151,54.0924,
9,Puerto Ayora,EC,78.76,overcast clouds,-0.7393,-90.3518,
10,Grand Gaube,MU,66.38,clear sky,-20.0064,57.6608,
11,Vaini,TO,69.96,few clouds,-21.2000,-175.2000,
12,Rikitea,PF,72.86,clear sky,-23.1203,-134.9692,
15,Mahebourg,MU,66.25,few clouds,-20.4081,57.7000,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat}, {lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        #print("Found ",hotels["results"][0]["name"])
        
    except(IndexError):
        print("Hotel not found ... skipping.")

hotels

Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.

{'html_attributions': [],
 'results': [{'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -4.533218499999998, 'lng': 18.5969751},
    'viewport': {'northeast': {'lat': -4.531884669708496,
      'lng': 18.5984047802915},
     'southwest': {'lat': -4.534582630291501, 'lng': 18.5957068197085}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Maison MC Michel',
   'place_id': 'ChIJu-N3CVk5FhoRFt6C9LFg3mM',
   'reference': 'ChIJu-N3CVk5FhoRFt6C9LFg3mM',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'vicinity': 'N 19'}],
 'status': 'OK'}

In [9]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"] != ''),:]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Hithadhoo,MV,81.41,broken clouds,-0.6000,73.0833,Scoop Guest House
4,Victoria,HK,85.32,clear sky,22.2855,114.1577,Mini Central
5,Carnarvon,AU,65.57,clear sky,-24.8667,113.6333,Hospitality Carnarvon
6,Kutum,SD,80.19,light rain,14.2000,24.6667,Dibbo areaمنطقة دبو
8,Salalah,OM,77.09,few clouds,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
...,...,...,...,...,...,...,...
700,Ajdabiya,LY,80.74,clear sky,30.7554,20.2263,منزلة الحاج سالم خليفة العيساويه الزواوي
705,Pacific Grove,US,81.21,few clouds,36.6177,-121.9166,Lovers Point Inn
707,Bushehr,IR,87.89,overcast clouds,28.9684,50.8385,Yas Hotel
708,Bireun,ID,77.38,overcast clouds,5.2030,96.7009,Rumah Bp.AR. ISMAIL
709,Bulungu,CD,78.06,light rain,-4.5500,18.6000,Maison MC Michel

In [10]:
# 8a. Create the output File (CSV)
output_data_file ="WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))